/animation.gif
/animation_20.gif
/animation_30.gif
/animation_40.gif
/circle_animation_20.gif
/circle_animation_from_sprite.gif
/circle_image_from_sprite.png
/circle_sprite_20.png
/circle_sprite_30.png
/circle_sprite_40.png
/circle_sprite_sheet_20.png
/sprite_sheet.png
/sprite_sheet_20.png
/sprite_sheet_30.png
/sprite_sheet_40.png